<a href="https://colab.research.google.com/github/cjporcell/IST-210-Group-Project/blob/master/IST_Group_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![istERdiagram2](https://raw.githubusercontent.com/cjporcell/IST-210-Group-Project/master/images/istERdiagram2.PNG)

In [5]:
%reload_ext sql
%sql sqlite:///cleaningService.db

'Connected: @cleaningService.db'

In [11]:
%%sql  
DROP TABLE IF EXISTS Contact_Information;
create table Contact_Information(customer_phone_number real PRIMARY KEY, email_address text, customer_name text);

DROP TABLE IF EXISTS Location;
create table Location(customer_address text PRIMARY KEY, house_type text, university text, town text);

DROP TABLE IF EXISTS PAYMENT_INFORMATION;
create table payment_information(credit_card_number real PRIMARY KEY, venmo text, cashapp text, paypal text, cash text);

DROP TABLE IF EXISTS COMPANY_INFORMATION;
create table payment_information(company_phone_number real PRIMARY KEY, company_address text, company_email_address text, company_name text);

 * sqlite:///cleaningService.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
(sqlite3.OperationalError) table payment_information already exists
[SQL: create table payment_information(company_phone_number real PRIMARY KEY, company_address text, company_email_address text, company_name text);]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [20]:
%%sql
INSERT INTO Contact_Information VALUES('4842224898','davidiscool@gmail.com','David');
INSERT INTO Contact_Information VALUES('6102236870','mtea1549@gmail.com','Maddie');
INSERT INTO Contact_Information VALUES('4843746560','cp333@gmail.com','Cole');
INSERT INTO Contact_Information VALUES('2153678765','ray444na@gmail.com','Rayna');
INSERT INTO Location VALUES('619 Highland Alley','House','Penn State','State College');
INSERT INTO Location VALUES('417 W Beaver Ave','Apartment','Penn State','State College');
INSERT INTO Location VALUES('400 E College Ave','Apartment','Penn State','State College');
INSERT INTO Location VALUES('211 S Barnard St','House','Penn State','State College');
INSERT INTO Payment_Information VALUES('443928996949','N/A','N/A','N/A','N/A');
INSERT INTO Payment_Information VALUES('N/A','N/A','N/A','N/A','Cash');
INSERT INTO Payment_Information VALUES('N/A','colesvenmo333','N/A','N/A','N/A');
INSERT INTO Payment_Information VALUES('N/A','N/A','N/A','N/A','Cash');

 * sqlite:///cleaningService.db

IntegrityError: ignored

How many customers live in a house opposed to an apartment?

In [17]:
%%sql
SELECT COUNT(house_type) FROM Location WHERE (house_type) = 'House'

 * sqlite:///cleaningService.db
Done.

[(2,)]

How many customers chose to pay using a credit card?

In [18]:
%%sql
SELECT COUNT(credit_card_number) FROM Payment_Information

 * sqlite:///cleaningService.db
Done.

[(2,)]

How many customers on average chose paid with cash?

In [19]:
%%sql
SELECT AVG(Cash) FROM Payment_Information

 * sqlite:///cleaningService.db
Done.

[(0.0,)]